<form action="/create" method="POST">
    <h2>Create Expense</h2>
    <div class="input-field">
        <input type="text" name="title">
        <label>Title</label>
    </div>
    <div class="input-field">
        <input type="number" name="money_amount">
        <label>Money amount</label>
    </div>
    <div class="input-field">
        <input type="text" name="category">
        <label>Category</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>